*{
    margin:0;
    padding:0;
    box-sizing: 0;
}



body{
    font-family:monospace;
    height: 100vh;
 
}

h1{
    line-height: 1.5;
}

p{padding-top: 20px;
    line-height: 1.5;
}

footer{
    padding-top: 80px;
    text-align: center;
}
.iimg img{
    padding-top: 20px;
    height:500px;
    width:500px;
}
.whole{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    column-gap: 120px;
}
.sentence{
    padding-top:80px;
    font-size:25px ;
   
    
}
.found{
    font-size:16px ;
    padding-left: 50px;
    padding-top: 20px;
    font-weight: bold;
}

.back{
   
    font-size:16px ;
    height:30px;
    width:160px;
    background-color: black;
    text-align: center;
    padding-top:10px;
}

.back a{
    color:white;
    text-decoration: none;
    padding-top: 5px;
}
@media screen and (max-width:600px) {

    *{
        margin:0;
        padding:0;
        box-sizing: 0;
    }
    
    
    
    body{
        font-family:monospace;
        height: 100vh;
     
    }
    
    h1{
        line-height: 1.5;
    }
    
     p{    padding-top: 20px;
        line-height: 1.5;
        padding-bottom: 20px;

    }
    
    footer{
        padding-top: 100px;
        text-align: center;

    }
    .iimg img{
        padding-top: 20px;
        height:400px;
        width:400px;
    }
    .whole{
        display: flex;
        flex-direction: column;
       justify-content: center;
        row-gap: 20px;
        /* padding-left: 100px; */
    }
    .sentence{
        padding-left:50px;
        font-size:20px ;
       
        
    }
    .found{
        font-size:12px ;
        padding-left: 25px;
        padding-top: 10px;
        font-weight: bold;
    }
    
    .back{
       
        font-size:10px ;
        height:17px;
        width:120px;
        background-color: black;
        text-align: center;
        padding-top:8px;
    }
    
    .back a{
        color:white;
        text-decoration: none;
        padding-top: 4px;
    }   

}


@media screen and (max-width:400px) {

    *{
        margin:0;
        padding:0;
        box-sizing: 0;
    }
    
    
    
    body{
        font-family:monospace;
        height: 100vh;
     
    }
    
    h1{
        line-height: 1.5;
    }
    
     p{    padding-top: 20px;
        line-height: 1.5;
        padding-bottom: 20px;

    }
    
    footer{
        padding-top: 100px;
        text-align: center;
        font-size:10px 
    }
    .iimg img{
        padding-top: 20px;
        height:270px;
        width:270px;
    }
    .whole{
        display: flex;
        flex-direction: column;
       /* justify-content: center; */
        row-gap: 20px;
        padding-left: 30px;
    }
    .sentence{
        padding-left:50px;
        font-size:13px ;
       
        
    }
    .found{
        font-size:12px ;
        padding-left: 25px;
        padding-top: 10px;
        font-weight: bold;
    }
    
    .back{
       
        font-size:10px ;
        height:17px;
        width:120px;
        background-color: black;
        text-align: center;
        padding-top:8px;
    }
    
    .back a{
        color:white;
        text-decoration: none;
        padding-top: 4px;
    }   

}